<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.bcd.dao.MemberDao">

  <!-- 컬럼명과 객체의 프로퍼티 명을 연결한다. -->
  <resultMap type="Member" id="MemberMap">
    <id column="email" property="email"/>
    <result column="name" property="name"/>
    <result column="cell" property="cell"/>
    <result column="tel" property="tel"/>
    <result column="fax" property="fax"/>
    <result column="memo" property="memo"/>
    <result column="pwd" property="password"/>
  </resultMap>

  <select id="selectList" resultMap="MemberMap"
          parameterType="map">
    select name 
    from bcd_member
    <if test="startIndex != null and pageSize != null">
      limit #{startIndex}, #{pageSize}
    </if>
    order by binary(name)
  </select>
  
  <select id="selectOne" 
          resultMap="MemberMap" 
          parameterType="string">
    select name, email, tel, cell, fax, memo
    from bcd_member
    where name=#{value}
  </select>
  
  <update id="update" parameterType="Member">
    update bcd_member set 
        email=#{email},
        tel=#{tel},
        cell=#{cell},
        fax=#{fax},
        memo=#{memo}
    where name=#{name}
  </update>
  
  <delete id="delete" parameterType="string">
    delete from bcd_member 
    where name=#{value}
  </delete>
  
  <insert id="insert" parameterType="Member">
    insert into bcd_member(name,email,tel,cell,fax,memo) 
    values(#{name},#{email},#{tel},#{cell},#{fax},#{memo})
  </insert>

  <select id="countAll" resultType="int">
    select count(*) from bcd_member
  </select>
</mapper>




